<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thyneleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8" content="width=device-width, initial-scale=1" name="viewport"/>
  <title>Регистрация</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/media.css}"/>
</head>
<body>
<header class="header_admin">
  <div class="header_admin_block">
    <div class="header_admin_block_logo">
      <a href="/"><img class="header_admin_block_logo_img" th:src="@{/img/images/logotype.png}" alt="Logotype" /></a>
    </div>
    <div class="header_admin_block_menu">
      <div class="header_admin_block_menu_component">
        <a class="header_admin_block_menu_component_link" href="/adminPanel/adminUser">Пользователи</a>
      </div>
      <div class="header_admin_block_menu_component">
        <a class="header_admin_block_menu_component_link" href="/adminPanel/adminProduct">Товары</a>
      </div>
      <div class="header_admin_block_menu_component">
        <a class="header_admin_block_menu_component_link" href="/adminPanel/adminOrder">Заказы</a>
      </div>
      <div class="header_admin_block_menu_component">
        <a class="header_admin_block_menu_component_link" href="/adminPanel/adminBanner">Баннеры</a>
      </div>
      <div class="header_admin_block_menu_component">
        <a class="header_admin_block_menu_component_link" href="/adminPanel/adminCatalog">Каталоги</a>
      </div>
      <div class="header_admin_block_menu_component">
        <a class="header_admin_block_menu_component_link" href="/adminPanel/adminStatistics">Статистика</a>
      </div>
    </div>
    <div class="header_admin_block_log" sec:authorize="isAuthenticated()">
      <div class="header_admin_block_login" sec:authentication="name">

      </div>
      <div class="header_admin_block_logout">
        <a class="header_admin_block_logout_link" href="/logout">Выйти</a>
      </div>
    </div>
    <div class="header_admin_block_log" sec:authorize="!isAuthenticated()">
      <div class="header_admin_block_login">
        Логин
      </div>
      <div class="header_admin_block_logout">
        <a class="header_admin_block_logout_link" href="/login">Войти</a>
      </div>
    </div>
  </div>
</header>
  <div class="admin_window_create_user">
    <form class="admin_window_create_user_form"  th:action="@{/adminPanel/adminUser/registration}" th:object="${userForm}" method="post">
      <div class="admin_window_create_user_form_field_head">
        Регистрация
      </div>
      <div class="admin_window_create_user_form_field_error" th:if="${param.error}">
        Вы не прошли регистрацию.
      </div>
      <div class="admin_window_create_user_form_field_text">
        Логин
      </div>
      <div class="admin_window_create_user_form_field">
        <input class="admin_window_create_user_form_field_input" placeholder="Логин" type="text" th:field="*{username}" required/>
      </div>
      <div class="admin_window_create_user_form_field_text">
        Пароль
      </div>
      <div class="admin_window_create_user_form_field">
        <input class="admin_window_create_user_form_field_input" placeholder="Пароль" type="password" th:field="*{password}" required/>
      </div>
      <div class="admin_window_create_user_form_field_text">
        Повторите пароль
      </div>
      <div class="admin_window_create_user_form_field">
        <input class="admin_window_create_user_form_field_input" placeholder="Повторите пароль" type="password" th:field="*{passwordConfirm}" required/>
      </div>
      <div class="admin_window_create_user_form_field">
        <button class="admin_window_create_user_form_field_button" type="submit">Зарегистрироваться</button>
      </div>
      <div class="admin_window_create_user_form_field">
        <a class="admin_window_create_user_form_field_link" href="/adminPanel/adminUser">Вернуться</a>
      </div>
    </form>
  </div>
</body>
</html>